<form [formGroup]="myForm">
  Valor : {{ myForm.value | json }}
  <hr>

  <div formGroupName="cellPhone">
    <mat-form-field>
      <input matInput placeholder="area" formControlName="area">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="prefix" formControlName="prefix">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="line" formControlName="line">
    </mat-form-field>
  </div>

  <div formGroupName="homePhone">
      <mat-form-field>
        <input matInput placeholder="area" formControlName="area">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="prefix" formControlName="prefix">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="line" formControlName="line">
      </mat-form-field>
    </div>
</form>